@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-ser;
    list-style: none;
    box-sizing: border-box;
}
header{
    padding: min(2vh, 20rem);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
header ul{
    display: flex;
    gap: 20px;
    color: white;
}
header ul li a{
    color: white;
}
.section1{
    padding: min(25vh, 30rem);
    background: linear-gradient(180deg, #00000064 1.33%, rgba(0, 0, 0, 0.745) 100%), url(img/chairs-2181947_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.6;
    font-weight: 900;
    color: white;
    
    
}
.section1 h2{
    font-size: 3em;
}
.section1 button{
    padding: 1.1rem;
    width: 15vw;
    background-color: black;
    border-radius: 18px;
    color: white;
    font-weight: 900;
    
}
.section2{
    padding: min(40vh, 30rem);
    background-image: url(img/EASii-Living-room-LED-Ligthing-2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.6;
    font-weight: 900;
    color: black;
    display: flex;
    
    
}
.section2 img{
    width: 30vw;
    position: relative;
    bottom: 0;
    right: 0;
}
.section2 h2{
    font-size: 40px;
}
.section2 button{
    padding: 1.1rem;
    width: 10rem;
    background-color: white;
    font-weight: 900;
    margin-top: 15px;
}
.section3{
    padding: min(15vh, 30rem);
    background-image: url(img/renderizacao-3d-de-fundo-geometrico-preto-e-branco-abstrato.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.6;
    font-weight: 900;
    color: black;
    color: white;
    
    
}
.divpai{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    gap: 20px;

}
.section3 p{
    font-weight: 300;
    margin-top: 20px;
}

