@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto Condensed", sans-ser;
    list-style: none;
    box-sizing: border-box;
}
header{
    padding: min(2vh, 20rem);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}
header ul{
    display: flex;
    gap: 20px;
    color: white;
}
header ul li a{
    color: white;
}

.mobile-menu { /*Estilização da caixa Mobile quando aberta*/
    display: none; /*Display: Nenhum*/
    position: fixed; /*Posição fixa na parte direita da página*/
    top: 0; /*Superior em 0 fazendo a caixa encostar ao topo*/
    right: 0; /*Direita em 0 fazendo a caixa encostar a direita*/
    width: 60%; /*Largura em porcentagem da caixa*/
    height: 100%; /*Altura de 100% da tela*/
    background-color: rgb(0, 0, 0); /*Cor de fundo*/
    flex-direction: column; /*direção dos itens dentro da caixa */
    align-items: center; /*Alinhamento na vertical do itens*/
    font-size: 1.8rem; /*tamanho da letra dentro da caixa*/
}

.nav-links-mobile { /*Lista não ordenada da versão mobile*/
    display: flex; /*Tornando os itens (LISTAS) flexíveis*/
    flex-direction: column; /*Estamos direcionando o posicionamento dessas listas*/
    text-align: end; /*Alinhando o texto ao centro*/
    gap: 1.2rem; /*Espaço entre as listas */
    /* width: 0%; Zeramos a largura podendo retirar essa linha para testar visualizão */
    list-style: none; /*Estilo de lista desabilitado*/
    /* padding: 0; Preenchimento zerado, podendo também ser retirado para testes */
}

.nav-links-mobile li { /*listas da versão Mobile*/
    border-bottom: 1px solid #787272; /*Bordar inferior de cada lista*/
    padding-bottom: 1.2rem; /*Tamanho da borda*/
}




.hamburger,
.close {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}


.close {
    margin-top: 20px;
    margin-right: 20px;
    display: block;
    align-self: end;
}


.flex {
    display: flex;
}

.section1{
    padding: min(25vh, 30rem);
    background: linear-gradient(180deg, #00000064 1.33%, rgba(0, 0, 0, 0.745) 100%), url(img/chairs-2181947_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.6;
    font-weight: 900;
    color: white;
    
    
}
.section1 h2{
    font-size: 3em;
}
.section1 button{
    padding: 1.1rem;
    width: 15vw;
    background-color: black;
    border-radius: 18px;
    color: white;
    font-weight: 900;
    
}
.section2{
    padding: min(3vh, 30rem);
    background-image: url(img/parede-branca.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.6;
    font-weight: 900;
    color: black;
    display: flex;
    width: 100%;
    
    
}
.section2 div img{
    width: 70vw;
}
.section2 h2{
    font-size: 40px;
}
.section2 button{
    padding: 1.1rem;
    width: 10rem;
    background-color: white;
    font-weight: 900;
    margin-top: 15px;
}
.text{
    margin-left: 99px;
    font-size: 17px;
}
.section3{
    padding: min(15vh, 30rem);
    background-image: url(img/renderizacao-3d-de-fundo-geometrico-preto-e-branco-abstrato.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.6;
    font-weight: 900;
    color: black;
    color: white;

}
.divpai{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    gap: 20px;

}
.section3 p{
    font-weight: 300;
    margin-top: 20px;
}
.section4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 90px;
    padding: min(15vh, 20rem);
    line-height: 1.6;
}

footer{
    padding: min(5vh,10rem);
    text-align: center;
    background-color: #787272;
    font-weight: 700;
}


@media(max-width: 834px) {

    html {
        font-size: 12px;
    }

    /* header img {
        width: 10rem;
        height: auto;
        } */

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
        
    }

    .mobile-menu {
        z-index: 999;
    }

    #btn-header {
       display: none;
    }

    .section1{
        padding: min(13vh,20rem);
        line-height: 1.6;
    }
    .section1 button {
        margin-top: 20px;
    padding: 2rem;
    text-align: center;
    width: 30vw;
    background-color: black;
    border-radius: 18px;
    color: white;
    font-weight: 900;
    }
    .section2{
        padding: min(2vh,10rem);

    }
    .text{
        font-size: 10px;
    }
    .text h2{
        font-size: 20px;
    }
    .image{
        display: flex;
        justify-content: end;
        width: 50vw;
    }
    .section3{
        padding: min(4vh, 10rem);
    }
    .section4{
        padding: min(5vh,10rem);
    }
    
}

